<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="../../../assets/img/logo blogther.svg" alt="logo">

  <form [formGroup] = "registerForm" (ngSubmit) = "register()">
    <ion-item>
      <ion-input label="Email"
      labelPlacement="stacked"
      formControlName="email"
      [clearInput]="true"
      placeholder="Correo Electronico"
      type="email"
      mode="md"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Usuario"
      labelPlacement="stacked"
      formControlName="username"
      [clearInput]="true"
      placeholder="Nombre de Usuario"
      type="text"
      mode="md"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-input label="Contraseña"
      labelPlacement="stacked"
      formControlName="password"
      [clearInput]="true"
      placeholder="Ingrese Contraseña"
      type="password"
      mode="md">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button expand="full" color="primary" type="submit" [disabled]="!registerForm.valid">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      Iniciar sesión
    </ion-button>
  </form>
</ion-content>
