<img src="" alt="foto-perfil">

<div>
  <h1>Nombre, {{auth.profile?.username}}</h1>
  <p>Descripción</p>
  <ion-button expand="full" color="primary">
    <ion-icon name="albums-outline" slot="start"></ion-icon>
    Publicaciones
  </ion-button>
  <ion-button expand="full" color="secondary">
    <ion-icon name="star-outline" slot="start"></ion-icon>
    Favoritos
  </ion-button>
  <ion-button expand="full" color="tertiary">
    <ion-icon name="calendar-number-outline"></ion-icon>
    Calendario
  </ion-button>
</div>