  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
<h1>Articulos</h1>
<ion-card href="/articulos">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/7b/e5/c5/7be5c50fa0f1efd7548cb5f8f330cfbc.jpg" />
  <ion-card-header>
    <ion-card-title class="blur-title">Articulos</ion-card-title>
  </ion-card-header>
</ion-card>

<h1>Publicaciones</h1>
<ion-card href="/publicaciones">
  <img alt="Silhouette of mountains" src="https://i.pinimg.com/736x/8c/18/e4/8c18e459302948ee28187af5edc0a119.jpg " />
  <ion-card-header>
    <ion-card-title class="blur-title">Publicaciones</ion-card-title>
  </ion-card-header>
</ion-card>